# All the specific files ignored
ANSCVProject/.vsANSCVProject/FileContentIndex/39fcb825-6fd2-4514-977e-321bdeca9b55.vsidx
ANSCVProject/.vsANSCVProject/FileContentIndex/3ffc825a-922e-4e7d-bb77-d3b7bf779574.vsidx
ANSCVProject/.vsANSCVProject/FileContentIndex/97672e22-eeea-42ca-94b4-b10fb5ad7559.vsidx
ANSCVProject/.vsANSCVProject/FileContentIndex/f1f03ac7-4a86-427f-b7d5-be93643f9403.vsidx
ANSCVProject/.vsANSCVProject/v17/.suo
ANSCVProject/.vsANSCVProject/v17/Browse.VC.db
ANSCVProject/.vsANSCVProject/v17/Browse.VC.db-shm
ANSCVProject/.vsANSCVProject/v17/Browse.VC.db-wal
ANSCVProject/.vsANSCVProject/v17/Browse.VC.opendb
ANSCVProject/.vsANSCVProject/v17/DocumentLayout.json
ANSCVProject/.vsANSCVProject/v17/ipch/987435befbcdf7ed.ipch
ANSCVProject/.vsANSCVProject/v17/ipch/AutoPCH/4857ba099a69c260/ANSCV.ipch
ANSCVProject/.vsANSCVProject/v17/ipch/AutoPCH/6f54f9059ece4de1/ANSCV-UNITTEST.ipch
ANSCVProject/.vsANSCVProject/v17/ipch/AutoPCH/e6cfe32f4567ccff/ANSCV-UNITTEST.ipch
ANSCVProject/.vsANSCVProject/v17/ipch/fc43160fd8b43f6d.ipch
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.Build.CppClean.log
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.exe.recipe
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.iobj
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.ipdb
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.log
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.obj
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.tlog/ANSCV-UnitTest.lastbuildstate
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.tlog/CL.command.1.tlog
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.tlog/CL.read.1.tlog
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.tlog/CL.write.1.tlog
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.tlog/Cl.items.tlog
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.tlog/link.command.1.tlog
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.tlog/link.read.1.tlog
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.tlog/link.secondary.1.tlog
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.tlog/link.write.1.tlog
ANSCVProject/ANSCV-UnitTest/x64/Release/ANSCV-UnitTest.vcxproj.FileListAbsolute.txt
ANSCVProject/ANSCV-UnitTest/x64/Release/vc143.pdb
ANSCVProject/ANSCVProject/x64/Release/ANSCV.obj
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.Build.CppClean.log
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.dll.recipe
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.iobj
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.ipdb
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.log
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.tlog/ANSCVProject.lastbuildstate
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.tlog/CL.command.1.tlog
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.tlog/CL.read.1.tlog
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.tlog/CL.write.1.tlog
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.tlog/Cl.items.tlog
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.tlog/link.command.1.tlog
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.tlog/link.read.1.tlog
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.tlog/link.secondary.1.tlog
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.tlog/link.write.1.tlog
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.vcxproj.FileListAbsolute.txt
ANSCVProject/ANSCVProject/x64/Release/dllmain.obj
ANSCVProject/ANSCVProject/x64/Release/pch.obj
ANSCVProject/ANSCVProject/x64/Release/vc143.pdb
ANSCVProject/x64/Release/ANSCV-UnitTest.exp
ANSCVProject/x64/Release/ANSCV-UnitTest.pdb
ANSCVProject/x64/Release/ANSCVProject.exp
ANSCVProject/x64/Release/ANSCVProject.pdb
ANSCVProject/.vsANSCVProject/FileContentIndex/a8875254-75e8-47ac-931d-bc47fba84973.vsidx
ANSCVProject/.vsANSCVProject/v17/Solution.VC.db
ANSCVProject/.vsANSCVProject/v17/fileList.bin
ANSCVProject/.vsANSCVProject/FileContentIndex
ANSCVProject/ANSCVProject/x64/
ANSCVProject/x64/Release/
ANSCVProject/.vs/
ANSCVProject/ANSCV-UnitTest/x64/
ANSCVProject/ANSCVProject/x64/Debug/
ANSCVProject/ANSCVProject/x64/Release/ANSCVProject.tlog/
ANSCVProject/ANSCVProject/x64/Release/MoveDetect.obj
ANSCVProject/x64/Release/ANSCV-UnitTest.exe
ANSCVProject/x64/Release/ANSCV-UnitTest.lib
ANSCVProjectANSCVProject/x64/Release/ANSCVProject.pch
ANSCVProject/x64/Release/ANSCV-UnitTest.exe
ANSCVProject/x64/Release/ANSCV-UnitTest.lib
ANSCVProject/x64/Release/ANSCVProject.dll
ANSCVProject/x64/Release/ANSCVProject.lib

# All the other folders and file extensions 
.vs/
.venv/
.idea/
.ipynb_checkpoints/
*.dll
*.lib
*.mp4
*.m4v
*.jpg
*.jpeg
*.xml
*.txt
*.ipynb
*.csv

# MacOS related visual file
.DS_Store

# All inference results csv files
inference_results*.csv

# FASDD dataset-related json files
FASDD_CV_TDML.json
test.json
train.json
val.json

# Training-related json files
inference_params.json
best_config.json
full_cv_results.json